$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/vendor/assets/stylesheets/bootstrap';
@import '~bootstrap-social/bootstrap-social.scss';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

// Component styles are injected through gulp

/* inject:scss */

@import 'admin/admin';

@import 'hashtags/hashtags';

@import 'keywords/keywords';

@import 'main/main';

@import '../components/footer/footer';

@import '../components/modal/modal';

@import '../components/oauth-buttons/oauth-buttons';

/* endinject */

/* fonts */

div.ng-tag-cloud {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  line-height: normal;
}

div.ng-tag-cloud a {
  font-size: inherit;
  text-decoration: none;
}

div.ng-tag-cloud span.w10 { font-size: 550%; }
div.ng-tag-cloud span.w9 { font-size: 500%; }
div.ng-tag-cloud span.w8 { font-size: 450%; }
div.ng-tag-cloud span.w7 { font-size: 400%; }
div.ng-tag-cloud span.w6 { font-size: 350%; }
div.ng-tag-cloud span.w5 { font-size: 300%; }
div.ng-tag-cloud span.w4 { font-size: 250%; }
div.ng-tag-cloud span.w3 { font-size: 200%; }
div.ng-tag-cloud span.w2 { font-size: 150%; }
div.ng-tag-cloud span.w1 { font-size: 100%; }

/* colors */

div.ng-tag-cloud { color: #09f; }
div.ng-tag-cloud a { color: inherit; }
div.ng-tag-cloud a:hover { color: #0df; }
div.ng-tag-cloud a:hover { color: #0cf; }
div.ng-tag-cloud span.w10 { color: #0cf; }
div.ng-tag-cloud span.w9 { color: #0cf; }
div.ng-tag-cloud span.w8 { color: #0cf; }
div.ng-tag-cloud span.w7 { color: #39d; }
div.ng-tag-cloud span.w6 { color: #90c5f0; }
div.ng-tag-cloud span.w5 { color: #90a0dd; }
div.ng-tag-cloud span.w4 { color: #90c5f0; }
div.ng-tag-cloud span.w3 { color: #a0ddff; }
div.ng-tag-cloud span.w2 { color: #99ccee; }
div.ng-tag-cloud span.w1 { color: #aab5f0; }

/* layout */

div.ng-tag-cloud {
  overflow: hidden;
  position: relative;
}

div.ng-tag-cloud span { padding: 0; }