.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.sentiment {
  padding: 5px;
  border: 1px solid #ddd;
  border-left: 4px solid #677167;
  background-color: #ebefec;
}

.sentiment.negative {
  border-left: 4px solid red;
  background-color: #fbd6d6;
}

.sentiment.positive {
  border-left: 4px solid #2dbb38;
  background-color: #d6fbd9;
}

.ui.form .inline.fields .field {
  font-size: 1.4rem;
}

.ui.checkbox input.hidden+label {
  font-size: 1.3rem;
}