<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p style="font-weight: bold;">App ID: <code style="font-size: 14px;">{{main.user._id}}</code> (Share this App ID to users so that they may send feedback to your dashboard.)</p>
      <div class="ui form">
        <div class="inline fields">
          <div class="field">
            <button class="ui button large" ng-click="main.changeSource('twitter')" ng-class="{'primary': main.source === 'twitter'}">Source Twitter</button>
          </div>
          <div class="field">
            <button class="ui button large" ng-click="main.changeSource('client')" ng-class="{'primary': main.source === 'client'}">Source Client App</button>
          </div>
        </div>
      </div>
      <div ng-show="main.source === 'twitter'" ng-include="'/app/main/twitter.partial.html'"></div>
      <div ng-show="main.source === 'client'" ng-include="'/app/main/client.partial.html'"></div>
    </div>
  </div>
</div>
